.td-search-form-wrap {
  .ant-form-item {
    margin-bottom: 12px !important;
    margin-right: 0 !important;
    display: flex !important;
    > .ant-form-item-label {
      width: auto;
      line-height: 32px;
    }
    .ant-form-item-control {
      line-height: 34px;
    }
  }
  .ant-form-item-control-wrapper {
    flex: 1;
  }
}

.td-search-form-handle-box {
  display: flex;
  justify-content: space-between;
}
