// upload
.td-upload-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
}

.td-upload-hide-remove {
  :global {
    .ant-upload-list-item-card-actions  {
      display: none !important;
    }
  }
}

.td-upload-tip {
  line-height: 1.5;
  padding-top: 4px;
  font-size: 14px;
  color: rgba(0,0,0,.45);
}

// img-modal
.td-img-modal-img {
  display: block;
  width: 100%;
}