.Sidebar__BuiltWith-drTYip, .Button__ButtonLink-hNLmQl {
  display: none !important;
}

.imSWHJ {
  margin: 1em 0;
  padding-left: .8em;
  color: #697b8c;
  font-size: 90%;
  border-left: 4px solid #ebedf0;
}